.info {
  font-size: 1vw;
  width: 60vw;
  margin-left: 20vw;
  margin-top: 10vh;
  text-align: center;
}
.info ul {
  text-align: left;
}
.info a {
  margin-left: 1vw;
  color: hsl(173, 85%, 29%);
}
.repo img {
  width: 1.5vw;
  height: 1.5vw;
}
.personalData {
  margin-top: 5vh;
}
