body {
  background-color: hsl(210, 15.8%, 92.5%);
}
.horizontalCenter {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}
.tabs {
  width: 80%;
  position: relative;
  z-index: 2;
  margin-top: 2vh;
  height: 3vw;
}
.tabs ul {
  width: 80vw;
  margin-left: 10vw;
  text-align: center;
}
.tabs ul li {
  width: 19.9vw;
  margin-left: 0.05vw;
  margin-right: 0.05vw;
  font-size: 1.2vw;
  height: 2.8vw;
  background-color: hsl(210, 15.8%, 92.5%);
  border-top-left-radius: 0.4vw;
  border-top-right-radius: 0.4vw;
}
.tabs ul li:hover {
  border-bottom: 0.15vw solid hsl(167, 100%, 15%);
}
.tabs ul li a {
  color: hsl(167, 100%, 15%);
}
.tabs ul li a:hover {
  color: black;
}
h3 {
  font-size: 1.6vw;
}
.alert {
  font-size: 1.2vw;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 2vh;
}
.alert-success {
  text-align: center;
}

h2 {
  color: blue;
}

.productLabel {
  margin-top: 11vh;
  margin-bottom: 1vh;
  width: 100vw;
  text-align: center;
}
.product {
  width: 50%;
  margin-left: 25%;
}
.product .group {
  margin-top: 2vh;
}
.product select {
  font-size: 1vw;
  margin-bottom: 3vh;
}
.product input {
  font-size: 1vw;
}
.product label {
  width: 100%;
  text-align: right;
  font-size: 1vw;
  margin-right: 1vw;
}
.product .btn-secondary {
  font-size: 1.2vw;
  width: 20%;
  margin-left: 19%;
  margin-top: 3vh;
}
.product .btn-danger {
  font-size: 1.2vw;
  width: 20%;
  margin-left: 19%;
  margin-top: 3vh;
  margin-left: 1vw;
}
.product .btn-info {
  font-size: 1.2vw;
  width: 20%;
  margin-left: 19%;
  margin-top: 3vh;
  width: 30%;
  margin-left: 35%;
}
.productSwitch {
  font-size: 1.2vw;
  margin-top: 4vw;
  margin-left: 25vw;
}
.productSwitch label {
  margin-bottom: 20px;
}
.newProduct h3 {
  width: 100%;
  text-align: center;
}
