.invoicePreview {
  width: 60vw;
  margin-left: 20vw;
  background-color: white;
  padding: 1vw;
  border: 0.1vw double black;
  margin-top: 10vh;
}
.buyer {
  background-color: hsl(240, 3%, 94%);
  font-size: 0.9vw;
  padding: 0.5vw;
}
.buyer div {
  margin-top: 1vh;
}
.seller {
  background-color: hsl(240, 3%, 94%);
  font-size: 0.9vw;
  padding: 0.5vw;
  background-color: white;
}
.seller div {
  margin-top: 1vh;
}
.invoicePreviewHeader {
  font-size: 1.2vw;
}
.invoicePreviewHeader h4 {
  width: 100%;
  text-align: center;
  background-color: hsl(240, 3%, 94%);
  margin-top: 5vh;
}
.table {
  text-align: center;
  font-size: 0.6vw;
  margin-top: 3vh;
}
.deliveryPreview {
  width: 90%;
  margin-top: 2vh;
  text-align: right;
  font-size: 0.8vw;
}
.toPayPreview {
  width: 90%;
  margin-top: 2vh;
  text-align: right;
  font-size: 0.8vw;
  font-size: 1.1vw;
  font-weight: 800;
  width: 100%;
  background-color: hsl(240, 3%, 94%);
}
.previewButton {
  text-align: center;
  margin-top: 4vh;
}
.previewButton .btn {
  font-size: 1vw;
  width: 8vw;
}
