.invoiceWrapper {
  margin-top: 11vh;
}
.invoiceList {
  text-align: center;
  margin-bottom: 28vh;
}
.invoiceList select {
  font-size: 1vw;
}
.invoiceList .btn {
  margin-top: 4vh;
  font-size: 1vw;
}
.invoiceLook {
  margin-bottom: 4vh;
  border: 0.1vw solid black;
  background-color: hsl(240, 3%, 94%);
}
.invoiceLook .table {
  font-size: 0.7vw;
}
.invoiceLook .invoiceDeliveryCost {
  width: 90%;
  text-align: right;
  font-size: 0.9vw;
}
.invoiceLook .invoiceToPay {
  width: 90%;
  text-align: right;
  font-size: 1.1vw;
}
