.productLabel {
  margin-top: 11vh;
  margin-bottom: 1vh;
  width: 100vw;
  text-align: center;
}
.product {
  width: 50%;
  margin-left: 25%;
}
.product .group {
  margin-top: 2vh;
}
.product select {
  font-size: 1vw;
  margin-bottom: 3vh;
}
.product input,
.product textarea {
  font-size: 1vw;
}
.product label {
  width: 100%;
  text-align: right;
  font-size: 1vw;
  margin-right: 1vw;
  margin-top: 0.5vh;
}
.product .btn-secondary {
  font-size: 1.2vw;
  width: 20%;
  margin-left: 19%;
  margin-top: 3vh;
}
.product .btn-danger {
  font-size: 1.2vw;
  width: 20%;
  margin-left: 19%;
  margin-top: 3vh;
  margin-left: 1vw;
}
.product .btn-info {
  font-size: 1.2vw;
  width: 20%;
  margin-left: 19%;
  margin-top: 3vh;
  width: 30%;
  margin-left: 35%;
}
.productSwitch {
  font-size: 1.2vw;
  margin-top: 4vw;
}
.productSwitch label {
  width: 10vw;
  text-align: left;
  font-size: 0.9vw;
}
.newProduct h3 {
  width: 100%;
  text-align: center;
}
